section.home-content
  padding: 100px 0

  @media all and (max-width: 1024px)
    padding: 50px 0
  .col-40
    a
      font-weight: bold
      color: $turqis
  h2
    text-transform: uppercase
    font-weight: normal

  h3
    margin: 0
    text-transform: capitalize
    font-weight: normal 


  .list-wrapper
    margin-bottom: 15px

  .welcome-link
    text-transform: uppercase
    font-weight: bold
    font-size: 14px
