$grey: #213a42
$turqis: #48b0d2

$ease: ease-in-out

$raleway: 'Raleway', sans-serif

@import url(https://fonts.googleapis.com/css?family=Raleway)

*
  box-sizing: border-box

body
  font-size: 16px
  font-family: $raleway
  color: $grey
  line-height: 1.7


h1,
h2,
h3,
h4,
h5,
h6
  font-weight: bold
  text-transform: uppercase

a
  color: $grey
  text-decoration: none

  &:hover
    color: $turqis
    text-decoration: none
    transition: color .3s $ease

  &:active
    color: $turqis
    font-weight: bold
    text-decoration: none

.container
  max-width: 1170px
  margin: 0 auto
  overflow: hidden

.col-40
  width: 40%
  float: left
  padding: 0 15px

.col-30
  width: 30% 
  float: left
  padding: 0 15px

